/* Clearfix */
/* Box-shadow */
/* Box-shadow-back */
/* Media Queries Manager */
/* Colors */
/* Font-size */
/* Grid */
/* Animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 38%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55C57A;
  color: #FFFFFF; }

/* Body */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777; }

/* Main-headline */
.main-headline {
  margin-bottom: 6rem;
  text-transform: uppercase;
  backface-visibility: hidden;
  color: #FFFFFF; }
  .main-headline--top {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .main-headline--top {
        font-size: 6rem;
        letter-spacing: 1rem; } }
  .main-headline--pin {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .main-headline--pin {
        font-size: 3rem;
        letter-spacing: .5rem; } }

/* Second-headline */
.second-headline {
  display: inline-block;
  margin-top: 6rem;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #DC143C, #1E90FF);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .second-headline {
      margin-top: 14rem;
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .second-headline {
      margin-top: 6rem;
      font-size: 3rem; } }
  .second-headline:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewX(15deg) skewY(2deg) scale(1.1); }

/* Third-headline */
.third-headline {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

/* Paragraph */
.paragraph {
  font-size: 1.6rem;
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* Center */
.u-center-text {
  text-align: center !important; }

/* Bottom */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

/* Top */
.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

/* Video */
.bg-video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .24;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  display: inline-block;
  padding: 1.8rem 4.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 10rem;
  position: relative;
  transition: all .2s; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); }

.btn:active {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0.2rem); }

.btn--white {
  background-color: #FFFFFF;
  color: #777777; }
  .btn--white::after {
    background-color: #FFFFFF; }

.btn--card {
  background-color: #5643FA;
  color: #FFFFFF; }
  .btn--card::after {
    background-color: #5643FA; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-info:link, .btn-info:visited {
  display: inline-block;
  padding: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 0.2rem solid #55C57A;
  color: #4682B4;
  transition: all .2s; }

.btn-info:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #55C57A;
  color: #FFFFFF;
  transform: translateY(-0.2rem); }

.btn-info:active {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translate(0); }

.card {
  height: 52rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    height: 52rem;
    width: 100%;
    border-radius: .2rem;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s ease; }
    .card__side--front {
      background-color: #FFFFFF; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-one {
        background-image: linear-gradient(to right bottom, #228B22, #55C57A); }
      .card__side--back-two {
        background-image: linear-gradient(to right bottom, #FFB900, #FF7730); }
      .card__side--back-three {
        background-image: linear-gradient(to right bottom, #1E90FF, #4682B4); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    padding: 2rem;
    height: 25rem;
    background-size: cover;
    background-blend-mode: hue;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem; }
    .card__picture--one {
      background-image: linear-gradient(to right bottom, #FFB900, #FF7730), url(../img/noire.jpg);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); }
    .card__picture--two {
      background-image: linear-gradient(to right bottom, #000000, #5643FA), url(../img/doom.jpg);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%); }
    .card__picture--three {
      background-image: linear-gradient(to right bottom, #E60000, #DC143C), url(../img/skyrim.jpg);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); }
  .card__headline {
    width: 75%;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    right: 14rem;
    color: #FFFFFF; }
  .card__headline-span {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__headline-span--one {
      background-image: linear-gradient(to right bottom, rgba(220, 20, 60, 0.6), rgba(230, 0, 0, 0.6)); }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      margin: 0 auto;
      width: 80%;
      list-style: none; }
      .card__details ul li {
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.2rem solid #777777; }
  .card__back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    margin-bottom: 8rem;
    text-align: center;
    color: #FFFFFF; }
  .card__price-only {
    font-size: 2.5rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 8rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: .2rem;
      background-color: #FFFFFF; }
      .card__side {
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__back {
        padding: 7rem 4rem 4rem 4rem;
        position: relative;
        top: 0;
        left: 10rem;
        transform: translate(0); }
      .card__price-box {
        position: relative;
        top: 0;
        left: -10rem;
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    margin-top: -2.5rem;
    width: 60%;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
        float: left;
        width: 33.33333333%;
        position: relative; } }
    .composition__photo--one {
      top: -3rem;
      left: -1rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--one {
          top: 0; } }
    .composition__photo--two {
      top: -3rem;
      right: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--two {
          top: -1rem;
          left: 18rem; } }
    .composition__photo--three {
      top: 9rem;
      right: 12rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--three {
          top: -1rem;
          left: -14rem; } }
    .composition__photo:hover {
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
      z-index: 20;
      transform: scale(1.05) translateY(-0.5rem); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: .2rem;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 6rem;
    background-image: linear-gradient(to right, #55C57A, #1E90FF);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-top: 0; } }
  .feature-box__text {
    font-size: 1.6rem;
    color: #FFFFFF; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  width: 75%;
  font-size: 1.6rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(-3rem) skewX(12deg); }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        border-radius: none;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    backface-visibility: hidden;
    transition: all .5s;
    transform: translateX(-4rem) scale(1.4); }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    backface-visibility: hidden;
    color: #FFFFFF;
    transition: all .5s;
    transform: translate(-50%, 20%); }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(0.2rem) brightness(80%);
    transform: translateX(-4rem) scale(1); }

.footer {
  padding: 10rem;
  font-size: 1.8rem;
  background-color: #5643FA;
  color: #FFFFFF; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    margin-bottom: 8rem;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    height: auto;
    width: 15rem; }
  .footer__navigation {
    display: inline-block;
    padding-top: 2rem;
    border-top: 0.2rem solid #999999;
    color: #FFFFFF; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none;
    color: #FFFFFF; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFB900;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    padding-top: 2rem;
    width: 80%;
    float: right;
    border-top: 0.2rem solid #999999;
    color: #FFFFFF; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      padding: 0 3rem;
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.page-header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(30, 144, 255, 0.4), rgba(0, 0, 0, 0.2)), url(../img/bg2.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .page-header {
      height: 95vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 94%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 94%); } }
  @media only screen and (max-width: 37.5em) {
    .page-header {
      -webkit-clip-path: polygon(0 0, 100% 0, 300% 85vh, 0 70%);
      clip-path: polygon(0 0, 100% 0, 300% 85vh, 0 70%); } }
  .page-header__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .page-header__logo {
    height: 8rem; }
  .page-header__text-container {
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }

.off-canvas {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .off-canvas__toggle {
    cursor: pointer;
    display: block;
    height: 5.5rem;
    width: 5.5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    border-radius: .2rem;
    background-color: #000000; }
    @media only screen and (min-width: 50em) {
      .off-canvas__toggle {
        display: none; } }
  .off-canvas__span {
    display: block;
    margin: .6rem 1.4rem;
    height: .5rem;
    width: 3rem;
    background-color: #FFFFFF; }
    .off-canvas__span:first-child {
      margin-top: 1.4rem; }

.navigation {
  height: 100%;
  min-height: 100%;
  width: 25rem;
  font-size: 1.6rem;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: -25rem;
  z-index: 998;
  overflow: hidden;
  overflow-y: auto;
  color: #42505A;
  background-color: #FF6666;
  transition: .5s left; }
  .navigation__heading {
    margin: 3rem 4rem 4.5rem 2.5rem;
    text-align: center; }
    .navigation__heading__relay {
      color: #42505A; }
  .navigation__alteration {
    height: auto;
    max-width: 12rem; }
  .navigation__list {
    margin: -3rem 0;
    padding: 0;
    list-style: none; }
  .navigation__item {
    font-weight: 600;
    text-transform: uppercase; }
    @media only screen and (min-width: 50em) {
      .navigation__item {
        display: inline-block;
        margin: 0 .2rem;
        border: 0;
        vertical-align: middle; } }
    .navigation__item:last-child {
      border-bottom: 0; }
  .navigation__link:link, .navigation__link:visited {
    display: block;
    padding: 0 3rem 0 3rem;
    height: 5rem;
    line-height: 5rem;
    text-decoration: none;
    border-radius: .4rem;
    color: #FFFFFF;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #000000 50%);
    background-size: 230%;
    transition: all .4s; }
  @media only screen and (min-width: 50em) {
    .navigation__link {
      padding: 0 3rem; } }
  .navigation__link--active {
    background-color: #794044; }
  .navigation__link:hover {
    background-position: 100%; }

.navigation-show [class^="page-content"] {
  left: 25rem; }

.navigation-show [class^="navigation"] {
  left: 0; }

@media screen and (min-width: 50em) {
  .navigation-show .page-content {
    left: 0; }
  .navigation-show,
  .navigation {
    width: 100%;
    height: 26rem;
    position: relative;
    left: 0;
    text-align: center; } }

.section-about {
  margin-top: -36vh;
  padding: 25rem 0;
  background-color: #F7F7F7; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 18rem 0; } }

.section-features {
  margin-top: -8rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(220, 20, 60, 0.2), rgba(30, 144, 255, 0.2)), url(../img/bg.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-games {
  margin-top: -18rem;
  padding: 25rem 0 15rem 0;
  background-color: #F7F7F7; }
  @media only screen and (max-width: 56.25em) {
    .section-games {
      padding: 20rem 0 10rem 0; } }

.section-impressions {
  padding: 4rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-impressions {
      padding: 10rem 0; } }
