// Colors
$color-black: #000000;
$color-white: #FFFFFF;

$color-grey-dark: #777777;
$color-grey-light: #F7F7F7;

$color-dark-red: #E60000;
$color-crimson: #DC143C;

$color-yellow-light: #FFB900;
$color-yellow-dark: #FF7730;

$color-dodgerblue: #1E90FF;
$color-steelblue: #4682B4;

$color-primary: #55C57A;
$color-purple: #5643FA;
$color-salmon: #FF7373;

// Font-size
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;