// Colors
$color-black: #000000;
$color-white: #FFFFFF;

$color-grey: #999999;
$color-grey-dark: #777777;
$color-grey-light: #F7F7F7;

$color-dark-red: #E60000;
$color-crimson: #DC143C;

$color-yellow-light: #FFB900;
$color-yellow-dark: #FF7730;

$color-dodgerblue: #1E90FF;
$color-steelblue: #4682B4;

$color-darkviolet: 	#9400D3;
$color-purple: #5643FA;

$color-forestgreen: #228B22;
$color-primary: #55C57A;

// Font-size
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;