/* Page-header */
.page-header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-dodgerblue, .4),
        rgba($color-black, .2)),
    url(../img/bg2.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        height: 95vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 94%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 94%);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 300% 85vh, 0 70%);
        clip-path: polygon(0 0, 100% 0, 300% 85vh, 0 70%);
    }


    &__logo-container {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 8rem;
    }
    
    &__text-container {
        position: absolute;
        top: 35%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}