// Page-header
.page-header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-crimson, .4),
        rgba($color-dodgerblue, .4)),
    url(../img/bg.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        height: 95vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    @include respond(phone) {
        margin-bottom: 10rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-container {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 8rem;
    }
    
    &__text-container {
        position: absolute;
        top: 35%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}