// Page-header
.page-header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-crimson, .5),
        rgba($color-dodgerblue, .5)),
    url(../img/bg.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-container {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 8rem;
    }
    
    &__text-container {
        position: absolute;
        top: 35%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}