// Composition
.composition {
    position: relative;

    &__photo {
        @include shadow;
        margin-top: -2.5rem;
        width: 60%;
        position: absolute;
        z-index: 10;
        transition: all .2s;

        @include respond(tab-port) {
            @include shadow;
            float: left;
            width: 33.33333333%;
            position: relative;
        }

        &--one {
            top: 0;
            left: -3rem;

            @include respond(tab-port) {
                top: 0;
            }
        }

        &--two {
            top: 0;
            right: -4rem;

            @include respond(tab-port) {
                top: -2rem;
            }
        }

        &--three {
            top: 7rem;
            right: 9rem;

            @include respond(tab-port) {
                top: -1rem;
                left: 8rem;
            }
        }

        &:hover {
            @include shadow;
            z-index: 20;
            transform: scale(1.05) translateY(-.5rem);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}