// Composition
.composition {
    position: relative;

    &__photo {
        @include shadow;
        margin-top: -2.5rem;
        width: 60%;
        position: absolute;
        z-index: 10;
        transition: all .2s;

        &--one {
            top: 0;
            left: -3rem;
        }

        &--two {
            top: 0;
            right: -4rem;
        }

        &--three {
            top: 7rem;
            right: 9rem;
        }

        &:hover {
            @include shadow;
            transform: scale(1.05) translateY(-.5rem);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}