// Story
.story {
    
    @include shadow;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    width: 75%;
    font-size: $default-font-size;
    border-radius: .2rem;
    background-color: rgba($color-white, .6);
    transform: skewX(-12deg);

    &__shape {
        height: 15rem; 
        width: 15rem;
        float: left;
        position: relative;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
    }

    &__img {
        height: 100%;
        backface-visibility: hidden;
        transition: all .5s;
        transform: translateX(-4rem) scale(1.4);
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7rem;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        backface-visibility: hidden;
        color: $color-white;
        transition: all .5s;
        transform: translate(-50%, 20%);
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(.2rem) brightness(80%);
        transform: translateX(-4rem) scale(1);
    }
}