// Body
body {
    padding: 3rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

// Main-headline
.main-headline {
    margin-bottom: 6rem;
    text-transform: uppercase;
    color: $color-white;
    
    backface-visibility: hidden;

    &--top {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }
    
    &--pin {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

// Second-headline
.second-headline {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-image: linear-gradient(
        to right, 
        $color-crimson, 
        $color-dodgerblue);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;

    &:hover {
        @include shadow;
        transform: skewX(15deg) skewY(2deg) scale(1.1);
    }
}

// Third-headline
.third-headline {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

// Paragraph
.paragraph {
    font-size: $default-font-size;
    text-align: justify;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}