/* Section-about */
.section-about {
    margin-top: -36vh;
    padding: 25rem 0;
    background-color: $color-grey-light;

    @include respond(tab-port) {
        padding: 18rem 0;
    }
}

/* Section-features */
.section-features {
    margin-top: -8rem;
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-crimson, .2),
        rgba($color-dodgerblue, .2)),
    url(../img/bg.jpg);
    background-size: cover;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

/* Section-games */
.section-games {
    margin-top: -18rem;
    padding: 25rem 0 15rem 0; 
    background-color: $color-grey-light;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

/* Section-impressions */
.section-impressions {
    padding: 4rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}
